<!DOCTYPE html>
<html{% if debug == 0%} manifest="cache.manifest"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% for key, value in assetCss %}
        <link href="{{ value }}" rel="stylesheet" />
    {% endfor %}

    {% for key, value in assetJavascript %}
        <script type="text/javascript" src="{{ value }}"></script>
    {% endfor %}

    <script type="text/javascript">
{% for key, value in javascriptSettings %}
    App.settings.{{ key }} = '{{ value }}'
{% endfor %}
    </script>
</head>
<body>

{% include 'navbar.html.twig' %}

{#{% include 'floatbar.html.twig.html' %}#}

<div id="page-map" class="container-fluid tabs-page">
    <div class="row">
        <div id="map" class="main"></div>
    </div>

    {% include 'aside-right.html.twig' %}

    {% include 'dashboard.html.html.twig' %}
</div>

{% include 'page-sky.html.twig' %}

<div id="contextual-popup" style="display: none"></div>
<div id="ajax-loader" style="display: none">Loading</div>
{{ frontEndTemplates }}



<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>
